<div id='bottom-menu-div'>
  <ul id='bottom-menu'>
    <a href='/'><li>Home</li></a>
    <a href='/decorative-pillows'><li>Pillows</li></a>
    <a href='/duvet-sets'><li>Duvet Sets</li></a>
    <li>Sheet Sets</li>
  </ul>
</div>