<%= render 'top_logo' %>

<h1 class='category'>Duvet Sets</h1>

<div id='product-data'>

</div>

<div class='list'>
  <ul id='duvet-sets' class='item-list'>

  </ul>
</div>

<%= render 'bottom_menu' %>