
  <h1 id='logo'>LaCozi</h1>
  <div id='slider' class='swipe'>
    <div class='swipe-wrap'>
      <div><%= image_tag("Blue-Hotel.jpg") %></div>
      <div><%= image_tag("Gray-Hotel.jpg") %></div>
      <div><%= image_tag("Square-pillows.jpg") %></div>
    </div>
  </div>
  <%= render 'main_menu' %>
