$Roboto: 'Roboto', sans-serif;
$Blue: #418DFF;

body {
  font-family: $Roboto;
  font-weight: 300;
}

a {
  text-decoration: none;
  &:hover{
    color: $Blue;
  }
}


////// Front Page /////////

#container {
  width: 1024px;
  height: 768px;
  border: 1px solid #EBEBEB;
}

h1#logo {
  width: 300px;
  margin: 0 10px 0 26px;
  font-size: 5em;
  font-weight: 200;
}

#main-menu {
  width: 450px;
  position: relative;
  float: right;
}

ul#main-menu-list {
  list-style: none;
  padding: 0;
}

#main-menu-list li {
  color: #FFF;
  font-size: 1.8em;
  padding: 26px;
  background-color: #DADADA;
  margin-bottom: 5px;
}

#slider {
  width: 960px;
  height: 400px;
  margin: auto;
}

//////  Product Show Page ////////

#p-container {
  border: 1px solid #dfdfdf;
  overflow: auto;
}

h1 {
  font-family: $Roboto;
  font-size: 1.6em;
}

#p-image {
  float: left;
  padding: .5em;
}

///// PRODUCT DISPLAY PAGE //////

.item-list {
  list-style: none;
  padding: 0;
}

#bottom-menu-div {
  width: 400px;
  height: 50px;
  float: right;
  bottom: -530px;
  right: -100px;
  position: relative;
}

#bottom-menu {
  list-style: none;
  padding: 0;
  & li {
    display: inline;
  }
}

#bottom-menu {
  position: absolute;
  bottom: 0;
  a li {
    padding: 5px;
    font-size: 1.5em;
  }
  a {

  }
}

.list {
  width: 150px;
  height: 90%;
  float: right;
  margin-top: -180px;
  margin-right: 12px;
}

///// SWIPE STYLES //////

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}